body{
  margin: 0px;
}



.main{
  background-color: rgb(191, 244, 206);
}

.sub_main{
  background-color: rgb(207, 239, 236);
}

/* header CSS */
header{
  height: 160px;
  background-color: white;
}

/* main CSS */
.img{
  height: 100px;
  width: 100px;
  margin: 0 5px;
  background-color:rgb(239, 169, 20);
}

.container{
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container:nth-child(even){
  flex-direction: row-reverse;
}

.container h3{
  flex: 1;
  font-weight: normal;
  margin: 0;
}

/* sub_main CSS */
.sub_main h1{
  font-weight: normal;
  font-size: 25px;
}

.sub_main h1 {
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.1em 0.5em;
  color: #454545;
}

.sub_main h1:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a1a1d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.NUM{
  padding-top: 20px;
}

.nom{
  margin: 0;
  font-size: 14px;
}


/* footer CSS */
footer{
  padding-top: 15px;
  font-size: 10px;
}

.IINAN  {
  /*線の種類（二重線）太さ 色*/
  border-bottom: double 5px #FFC778;
}
